%hover {
    transition: .2s color ease;
    &:hover {
        transition: .38s color ease;
        color: var(--color-primary);
    }
}
.card {
    $card: &;
    min-width: 330px;
    width: 100%;
    max-width: 350px;
    border-radius: 14px;
    box-shadow:0 30px 10px 15px rgb(12 23 41);
    &__inner {
        padding: 23px 23px 33px 23px;
    }
    &__visual {
        --image-radius: 10px;
        --overlay-radius: var(--image-radius);
        position: relative;
        &-image {
            border-radius: var(--image-radius);
        }
    }
    &__info {
        #{$card}__title { 
            @extend %hover;
            font-size: 22px;
        }
        #{$card}__description {
            --flow-space: 17px;
        }
        #{$card}__vital-info {
            --flow-space: 23px;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 23px;
            border-bottom: 1px solid var(--color-blue-300);
        }
        #{$card}__vital-info > *{
            justify-content: space-between;
            align-items: center;
            gap: 7px;
        }
        #{$card}__icon {
            color: inherit;
            fill: inherit;
        }
        #{$card}__footer {
            --flow-space: 16px;
            align-items: center;
            gap: 1rem;
        }
        #{$card}__avatar {
            width: 33px;
            height: 33px;
            border: 1px solid white;
            border-radius: 100%;
        }
        #{$card}__owner-name {
            @extend %hover;
        }
    }
}