$dark-palette: (
    primary: hsl(178, 100%, 50%),
    secondary: hsl(215, 51%, 70%),
    blue-100: hsl(217, 54%, 11%),
    blue-200: hsl(216, 50%, 16%),
    blue-300: hsl(215, 32%, 27%),
    neutral: hsl(0, 0%, 100%)
)