@use "sass:color";
@use "./colors" as *;

.overlay {
    --overlay-radius: var(--image-radius, 8px);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: color.scale(map-get($dark-palette, "primary"), $alpha: -50%);
    opacity: 0;
    border-radius: var(--overlay-radius);
    transition: .3s opacity ease;
    &__icon {
        width: 3rem;
        height: 3rem;
    }
}

.overlay:hover {
    opacity: 1;
}
