$font-family: (
    "light": "OutfitLight, Arial, sans-serif",
    "regular": "OutfitRegular, Arial, sans-serif",
    "semi-bold": "OutfitSemiBold, Arial, sans-serif"
);

$font-size: (
    "base": 1rem,
    "xs": calc(.93 * var(--fs-base)), 
    "sm": calc(1 * var(--fs-base)), 
    "md": calc(1.125 * var(--fs-base)), 
    "lg": calc(1.375 * var(--fs-base))
);

$line-height: (
    "sm": 1.2, 
    "md": 1.5, 
    "lg": 1.618
);

